<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>


    
</body>
</html><!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<script src="script.js" defer></script>
	<title>javascript-books library</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap" rel="stylesheet">
        <script href="script.js" defer></script>

		
	
</head>

<body>



	<div class="wrapper">
        <h1> Welcome to our library </h1>
        <h2>here you can find interesting books you may want to read</h2>
        <h3>you can add also a book you suggest others to read</h3>


		<div class="container">
            <div class="book-lib">
			<div class="booklist">
				<form id="search">
					<label for ="sea">Search for a book</label><input id="sea"type="search"/>
            </form>


					<div class="book">
                        <h3>7 habits of the highly effective people</h3>
                        <p> Author:Stephen R. Covey</p>
						<button> read</button>
						<button class="rem"> remove</button>
					</div>
					<div class="book">
                        <h3>In Search of Lost Time</h3>
                        <p> Author: Marcel Proust</p>
						<button> read</button>
						<button class="rem" > remove</button>
					</div>
					<div class="book">
                        <h3>One Hundred Years of Solitude </h3>
                        <p> Author:Gabriel Garcia Marquez</p>
						<button> read</button>
						<button class="rem"> remove</button>
					</div>


            </div>
        
        
			<input type="checkbox" class="hiding" id="hide">
			<label for="hide">hide books</label>



			<form id="add-book">
				<input type="text"  placeholder="add book name"/>
				<button> Add</button>
            </form>
            
        </div>


            <div class="footer">

			<div class="tabbed-content">
				<ul class="tabs">
					<li data-target="#about">About us</li>

					<li data-target="#contact">Contact</li>
					<li>  © Booklib 2020  All right reserved.</li>
				</ul>

				<div class=" active pannel" id="about">
					<p>who we are?</p>
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, beatae omnis quam veritatis
						incidunt ab et, cumque ad praesentium natus aut facilis, quidem itaque! Nam nemo ratione dolorem
						accusantium minus?</p>
				</div>
				<div class="pannel " id="contact">
					<p>lets keep in touch</p>
					<li>facebook</li>
					<li>instagram</li>
					<li>twitter</li>
					<li>linkedin</li>
				</div>

			</div>
		</div>
	</div>


</div>

</body>

</html>